<h1><%= titleForm %></h1>
<form action="/<%= action %>" method="post">
    <input type="text" name="task" id="task" placeholder="Insira uma tarefa aqui" value="<%= value %>">
    <button id="<%= idBtn %>" type="submit" style="max-width: 180px;"><%= nameBtn %></button>
    <a href="/" class="bi bi-house" style="width:50px; "></a>   
</form>
